/* Moran Group Theme */
/* Colors */
$color1: #F6F7F8;
$color2: #0D2832;
$color3: #253D46;
$color4: #52B1CA;
$color5: #798392;
$color6: #EDEFF1;
$color7: #FFFFFF;
$color8: #F5A623;
$color9: #52B1CA;
$color10: #53B0C9;
$color11: #2559B4;
$color12: #E53644; 
$color13: #AF212C;
$color14: #2559B4;
$colorBackgroundLogin: #0D2832;

/* Fonts */
$fontFamily: "Helvetica Nue", sans-serif;
$smallFontSize: 10px;
$smallFontWeight: 100;
$regularFontSize: 14px;
$subTitleFontSize: 16px;
$regularFontWeight: 400;
$largeFontSize: 30px;
$largeFontWeight: 600;